<div class="box col-md-5">
  <div class="ribbon">
    <span class="<%= product.en_tag %>"><%= product.tag %></span>
  </div>
  <%= link_to (image_tag product.picture[0]), product %>
  <h4 data-toggle="tooltip" title="<%= product.title %>"><%= truncate product.title %></h4>
</div>